RewriteEngine On

# Stop rewrite rules for actual physical files (CSS, JS, Images)

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send all other page requests to your index.php router

RewriteRule ^(.\*)$ index.php [QSA,L]
